body {
    font-family: Arial, sans-serif;
    color: #333;
}

.container {
    max-width:
        800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

h1 {
    font-size:
        40px;
    margin: -20px;
    float: left;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-left: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 50px 0;
    clear: both;
}

h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.project {
    margin-bottom: 40px;
}

h3 {
    font-size: 25px;
    margin: 0;
}

form {
    margin-top: 40px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input,
textarea {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor:
        pointer;
}

input[type="submit"]:hover {
    background-color: #444;
}

textarea {
    height: 150px;
}